*{
    margin: 0;
    padding: 0;
}
.banner {
    height: 40px;
    background: #1D1D1D;
    line-height: 40px;
    font-family: arial;
}

.banner-left {
    float: left;
    width: 50%;
    height: 40px;
}

a.banner-left__link {float: left;color: #858578;font-size: 12px;font-family: arial;margin-right: 15px;}

i.far.fa-envelope {
    color: white;
    margin-right: 7px;
    font-size: 15px;
}

a.banner-left__link:hover {
    transition: 1.5s;
    color: red;
    text-decoration: none;
}

p.banner-left__desc {
    color: #858578;
    font-size: 12px;
}

i.fas.fa-phone {
    color: white;
    font-size: 15px;
    margin-right: 7px;
}

.banner-right {
    float: right;
    width: 50%;
    padding-left: 13%;
    height: 40px;
}

a.banner-right__login {
    float: left;
    font-size: 12px;
    color: #858578;
}

p.banner-right__desc > span {
    border-left: 1px solid red;
    padding-left: 10px;
}
i.fas.fa-power-off {
    margin-right: 7px;
    color: white;
}

a.banner-right__login:hover {
    color: red;
    text-decoration: none;
    transition: 1.5s;
}
.banner-right > span {
    border-right: 1px solid red;
    padding: 0 10px 0 0;
}
p.banner-right__desc {
    float: left;
    color: #858578;
    font-size: 11px;
    margin-left: 10px;
}

a.banner-right__link {
    float: left;
    font-size: 11px;
    font-weight: bold;
    color: white;
    margin-left: 5px;
}

a.banner-right__link:hover {
    color: red;
    text-decoration: none;
    transition: 1.5s;
}
a.banner-right__link1 {
    text-decoration: none;
}
.banner-right__icon {
    float: right;
}
i.fas.fa-lock {
    color: white;
    font-size:12px;
}
img.img_icon {
    line-height: 40px;
    transition: 0.5s;
}

span.fa-stack.fa-lg {
    text-align: center;
    height: 25px;
    overflow: hidden;
}

img.img_icon:hover {
    transition: 0.5s;
    transform: translateY(-25px);
}
.menu {
    clear: both;
    height: 90px;
    background: #282828;
    line-height: 90px;
}

.menu-left {
    float: left;
    width: 44%;
}

.menu-right {
    float: left;
    width: 56%;
}

.menu-right ul li{
    width: 85px;
    text-align: center;
    position: relative;
    display: inline-block;
    list-style-type: none;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 88px;
}
.menu-right ul li:hover{
    border-bottom: 4px solid red; 
}
.menu-right ul li a{
    display: block;
    text-decoration: none;
    color: white;
}
.menu-right ul li a:hover{
    text-decoration: none;
    display: block;
}
.sub-menu{
    display: none;
    position: absolute;
}
.menu-right > ul > li > ul > li{
    width: 200px;
    text-align: left;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px dashed #4b4b4b;
     background: #1D1D1D;
}
.menu-right > ul > li > ul > li:hover{
    border: none;
}
.menu-right > ul > li > ul > li > a{
   border: none;
   height: 30px
}
.menu-right ul li:hover .sub-menu{
    display: block;
}